body{
    background-color:black;
    color:white;
    font-family: 'Raleway', sans-serif;
    
}
.top{
    margin-left:1em;
}
.mid{
    margin-top: 7em;
    margin-left:1.1em;
    
}
.bot > a{
    padding:0.4em;
    color:white;
    text-decoration: none;
    font-size: 9vw;
}
.mid > div > p{
    color:red;
    margin-left: 16em;
    margin-top:-3.7em;
}
.mid > h2 {
    font-size:8vw;
}
.bot{
    margin-left:0.6em;
    margin-top:9em;
}